.ani
{
    margin-top: 12px;
}
.ft
{
    font-size: 35px;
    padding-top: 40px;
}
.ani2
{
    margin-top: 50px;
}
.fun
{
    margin-top: 60px;
}
.bat
{
    margin-top: 60px;
}
.tc
{
    font-style:italic;
}
.ani3
{
    background-color: rgb(213, 238, 241);
}
.ct
{
    padding-top: 60px;
    padding-left: 60px;
}
.ct1
{
    padding-top: 70px;
    padding-left: 80px;
}
.gs
{
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(15, 107, 183);
}
.sg
{
    font-size: 20px;
}
.ts
{
    padding-bottom: 50px;
}
.see
{
    font-weight: bold;
    font-size: 20px;
}
.main
{
    border-style:hidden;
    background-color: rgb(20, 193, 147);
    padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold; 
} 
.at
{
    margin-left: 40px;
}
.win
{
    border-style:hidden;
    background-color: rgb(93, 93, 171);
    font-weight: bold;
    padding-bottom: 80px;
    padding-top: 50px;
    font-size: 40px;
    color: white;

}
.fm
{
    font-size: 20px;
    padding-right: 170px;
}

.hd
{
    font-size: 15px;
}
h4
{
    font-size: 14px;
}
